@use '../../styles/Variables.scss' as *;

.welcome-dialog {
    @include font-poke;
    width: 90%;
    &__main-info {
        display: flex;
        width: 100%;
        align-items: flex-end;
        position: relative;
    }
    &__main-text {
        margin-bottom: 20px;
        max-width: 20ch;
        padding-right: 1rem;
        &::before {
            content: "";
            background-color: white;
            position: absolute;
            display: block;
            width: 100%;
            height: 70px;
            z-index: -1;
            bottom: 7px;
            left: 2px;
            width: 99%;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
        }
    }
    &__extra-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        margin-top: 2rem;
    }
}

.map {
    &__container {
        height: 451px;
        width: 90%;
        overflow: hidden;
        margin: auto;
        border-radius: 20px;
        border: $shadow-active-clear solid 6px;
    }
    &__image {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
}

.welcome-call {
    @include center-column;
    gap: 1rem;
    margin-bottom: 1rem;
    &__text {
        text-align: center;
    }
}